parameters:
    phpVersion: 80100
    level: 8
    paths:
        - src
    parallel:
        maximumNumberOfProcesses: 1
    ignoreErrors:
        -
            message: '%Method Zaphyr\\EventDispatcher\\ListenerProvider::getListenersForEvent\(\) return type has no value type specified in iterable type iterable.%'
            path: 'src/ListenerProvider.php'
